In [128]:
import pandas as pd
from pathlib import Path
import numpy as np
import scipy.stats as sp


# Load CSV and store Data Frame
df = pd.read_csv('data/youtube_with_covid.csv', index_col = 0)
df.head()

,Channel Title,Published At,Video Title,Category Id,Description,Tags,Definition,Caption,LicensedContent,Projection,...,Tag Count,Description_Length (characters),Description Length (words),Duration (seconds),Publish Date,Month,Year,Fully Vaccinated Rate,One Dose Rate,Up To Date Rate
0,PushToProd,2023-09-14T21:00:02Z,day in the life | Jr. Cybersecurity Engineer N...,28,Here’s the part 2 to my day in the life/ vlog!...,"['devops', 'azure', 'aws', 'cloud', 'docker', ...",hd,False,True,rectangular,...,39,162,20,442,9/14/2023,9,2023,0.7144,0.7952,0.1918
1,PushToProd,2023-09-04T22:27:11Z,day in the life | Jr. Cybersecurity Engineer N...,28,Hey Guys! \n\nHope you enjoy Part 1 of this da...,"['devops', 'azure', 'aws', 'cloud', 'docker', ...",hd,False,True,rectangular,...,39,453,72,848,9/4/2023,9,2023,0.7144,0.7952,0.1918
2,PushToProd,2023-08-15T21:30:03Z,Prodcast 6 | Is the end of tech near?,28,https://linktr.ee/pushtoprod\n\nHey push2prod ...,"['podcast', 'devops', 'azure', 'aws', 'cloud',...",hd,False,True,rectangular,...,39,456,75,1169,8/15/2023,8,2023,0.7144,0.7946,0.1809
3,PushToProd,2023-06-13T20:45:01Z,Prodcast 5 | Biology Degree to Data Scientist,28,"Hey push2prod squad. Welcome to back to the ""P...","['podcast', 'devops', 'azure', 'aws', 'cloud',...",hd,False,True,rectangular,...,38,393,70,1509,6/13/2023,6,2023,0.7143,0.7933,0.1734
4,PushToProd,2023-06-07T14:00:10Z,From Suit & Tie to Bonnets and Durags: Embraci...,28,NaN,"['podcast', 'devops', 'azure', 'aws', 'cloud',...",hd,False,True,rectangular,...,38,0,1,56,6/7/2023,6,2023,0.7143,0.7933,0.1734

In [129]:
list(df.columns)

['Channel Title',
 'Published At',
 'Video Title',
 'Category Id',
 'Description',
 'Tags',
 'Definition',
 'Caption',
 'LicensedContent',
 'Projection',
 'View Count',
 'Like Count',
 'Favorite Count',
 'Comment Count',
 'Tag Count',
 'Description_Length (characters)',
 'Description Length (words)',
 'Duration (seconds)',
 'Publish Date',
 'Month',
 'Year',
 'Fully Vaccinated Rate',
 'One Dose Rate',
 'Up To Date Rate']

In [130]:
# define populations for t test
population_views = df["View Count"]
population_likes = df["Like Count"]
population_comments = df["Comment Count"]
population_fully_vaxxed = df["Fully Vaccinated Rate"]
population_one_dose = df["One Dose Rate"]
population_utd = df["Up To Date Rate"]

In [131]:
# views and fully vaxxed test
views_fully_vaccinated = sp.stats.ttest_ind(population_views.dropna(), population_fully_vaxxed.dropna(), equal_var = False)
views_fully_vaccinated

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\303936454.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  views_fully_vaccinated = sp.stats.ttest_ind(population_views.dropna(), population_fully_vaxxed.dropna(), equal_var = False)

TtestResult(statistic=28.85620166149066, pvalue=1.4809481126369513e-179, df=20742.000000021824)

In [132]:
# likes and fully vaxxed test
likes_fully_vaccinated = sp.stats.ttest_ind(population_likes.dropna(), population_fully_vaxxed.dropna(), equal_var = False)
likes_fully_vaccinated

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\436641981.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  likes_fully_vaccinated = sp.stats.ttest_ind(population_likes.dropna(), population_fully_vaxxed.dropna(), equal_var = False)

TtestResult(statistic=28.09123186070257, pvalue=2.031316572047043e-170, df=20594.00002213102)

In [133]:
# comments and fully vaxxed test
comments_fully_vaccinated = sp.stats.ttest_ind(population_comments.dropna(), population_fully_vaxxed.dropna(), equal_var = False)
comments_fully_vaccinated

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\856786748.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  comments_fully_vaccinated = sp.stats.ttest_ind(population_comments.dropna(), population_fully_vaxxed.dropna(), equal_var = False)

TtestResult(statistic=32.97445497844585, pvalue=1.908052363149919e-232, df=20695.014807009837)

In [134]:
# vies and one dose test
views_one_dose = sp.stats.ttest_ind(population_views.dropna(), population_one_dose.dropna(), equal_var = False)
views_one_dose

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\3323118469.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  views_one_dose = sp.stats.ttest_ind(population_views.dropna(), population_one_dose.dropna(), equal_var = False)

TtestResult(statistic=28.85618019608032, pvalue=1.481831342491897e-179, df=20742.000000025702)

In [135]:
# likes and one dose test
likes_one_dose = sp.stats.ttest_ind(population_likes.dropna(), population_one_dose.dropna(), equal_var = False)
likes_one_dose

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\2922314499.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  likes_one_dose = sp.stats.ttest_ind(population_likes.dropna(), population_one_dose.dropna(), equal_var = False)

TtestResult(statistic=28.09054588546865, pvalue=2.069415384642455e-170, df=20594.000026066205)

In [136]:
# comments and one dose test
comments_one_dose = sp.stats.ttest_ind(population_comments.dropna(), population_one_dose.dropna(), equal_var = False)
comments_one_dose

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\1271601066.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  comments_one_dose = sp.stats.ttest_ind(population_comments.dropna(), population_one_dose.dropna(), equal_var = False)

TtestResult(statistic=32.956753730542786, pvalue=3.3234697653832605e-232, df=20695.017439896175)

In [137]:
# views and up to date test (utd)
views_utd = sp.stats.ttest_ind(population_views.dropna(), population_utd.dropna(), equal_var = False)
views_utd

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\2310868478.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  views_utd = sp.stats.ttest_ind(population_views.dropna(), population_utd.dropna(), equal_var = False)

TtestResult(statistic=28.856369378478696, pvalue=1.4740652000265236e-179, df=20742.000000001557)

In [138]:
# likes and up to date (utd)
likes_utd = sp.stats.ttest_ind(population_likes.dropna(), population_utd.dropna(), equal_var = False)
likes_utd

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\3869173097.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  likes_utd = sp.stats.ttest_ind(population_likes.dropna(), population_utd.dropna(), equal_var = False)

TtestResult(statistic=28.09659162909455, pvalue=1.7567787947857795e-170, df=20594.000001580254)

In [139]:
# comments and up to date (utd)
comments_utd = sp.stats.ttest_ind(population_comments.dropna(), population_utd.dropna(), equal_var = False)
comments_utd

C:\Users\cjche\AppData\Local\Temp\ipykernel_16660\2599225206.py:2: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  comments_utd = sp.stats.ttest_ind(population_comments.dropna(), population_utd.dropna(), equal_var = False)

TtestResult(statistic=33.11275852135825, pvalue=2.4751012736263558e-234, df=20695.001057287827)

In [140]:
# Fully Vaccinated Results Data Frame
results_fv_df = pd.DataFrame([{
    "Test" : "Views and Fully Vaccinated",
    "T-statistic" : 33.11275852135825,
    "P-Value" : 2.4751012736263558e-234,
},
{
    "Test" : "Likes and Fully Vaccinated",
    "T-statistic" : 28.09123186070257,
    "P-Value" : 2.031316572047043e-170,
},
{
    "Test" : "Comments and Fully Vaccinated",
    "T-statistic" : 32.97445497844585,
    "P-Value" : 1.908052363149919e-232,
}])
results_fv_df

                            Test  T-statistic        P-Value
0     Views and Fully Vaccinated    33.112759  2.475101e-234
1     Likes and Fully Vaccinated    28.091232  2.031317e-170
2  Comments and Fully Vaccinated    32.974455  1.908052e-232

In [141]:
# One Dose Results Data Frame
results_od_df = pd.DataFrame([{
    "Test" : "Views and One Dose",
    "T-statistic" : 28.85618019608032,
    "P-Value" : 1.481831342491897e-179,
},
{
    "Test" : "Likes and One Dose",
    "T-statistic" : 28.09054588546865,
    "P-Value" : 2.069415384642455e-170,
},
{
    "Test" : "Comments and One Dose",
    "T-statistic" : 32.956753730542786,
    "P-Value" : 3.3234697653832605e-232,
}])
results_od_df

                    Test  T-statistic        P-Value
0     Views and One Dose    28.856180  1.481831e-179
1     Likes and One Dose    28.090546  2.069415e-170
2  Comments and One Dose    32.956754  3.323470e-232

In [142]:
# Up to Date Results Data Frame
results_utd_df = pd.DataFrame([{
    "Test" : "Views and Up to Date",
    "T-statistic" : 28.856369378478696,
    "P-Value" : 1.4740652000265236e-179,
},
{
    "Test" : "Likes and Up to Date",
    "T-statistic" : 28.09659162909455,
    "P-Value" : 1.7567787947857795e-170,
},
{
    "Test" : "Comments and Up to Date",
    "T-statistic" : 33.11275852135825,
    "P-Value" : 2.4751012736263558e-234,
}])
results_utd_df

                      Test  T-statistic        P-Value
0     Views and Up to Date    28.856369  1.474065e-179
1     Likes and Up to Date    28.096592  1.756779e-170
2  Comments and Up to Date    33.112759  2.475101e-234

In [18]:
# Combining Results Data Frames
complete_results_df = pd.concat([results_fv_df, results_od_df, results_utd_df])
complete_results_df

                            Test  T-statistic        P-Value
0     Views and Fully Vaccinated    33.112759  2.475101e-234
1     Likes and Fully Vaccinated    28.091232  2.031317e-170
2  Comments and Fully Vaccinated    32.974455  1.908052e-232
0             Views and One Dose    28.856180  1.481831e-179
1             Likes and One Dose    28.090546  2.069415e-170
2          Comments and One Dose    32.956754  3.323470e-232
0           Views and Up to Date    28.856369  1.474065e-179
1           Likes and Up to Date    28.096592  1.756779e-170
2        Comments and Up to Date    33.112759  2.475101e-234